<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Daníel Grétarsson</title>
		<meta name="description" content="Daníel Grétarsson's page">
		<meta name="author" content="Daníel Grétarsson">

		<link rel="stylesheet" href="public/css/styles.css?v=1.0">

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>

	<header>
		<div class="header-bg-container">
			<img src="public/img/reykjavik.jpg">
		</div>

		<h1>This is the header!</h1>

		<nav>
			<ul>
				<li><a href="#thing-1">Nav1</a></li>
				<li><a href="#thing-2">Nav2</a></li>
				<li><a href="#thing-3">Nav3</a></li>
				<li><a href="#thing-4">Nav4</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="main-text">
			<h2>Main section</h2>
			<img src="public/img/avatar.png" id="avatar-img">

			<h4>This is the main part right here!</h4>

			<p>This section might contain stuff like "about me" or pretty much anything in general. And there is even a picture to the right ===></p>
		</div>

		<div id="thing-1" class="thing">
			<h3>Thing 1</h3>
			<h4>This is what Nav 1 points to</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis justo sollicitudin, commodo nibh sed, faucibus sapien. Sed vulputate eget risus in tempor. Curabitur vel dui at eros vestibulum tincidunt. Proin tempus purus lacus, et interdum enim elementum a. Nulla bibendum diam ut laoreet sagittis. Maecenas pharetra massa nec fermentum auctor. Vestibulum dolor ante, tristique eu lorem id, tristique malesuada quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In id odio tempor, mollis odio non, sagittis lacus. Quisque luctus, eros at bibendum pellentesque, dolor lacus facilisis odio, ut placerat tortor sem vel lectus. Vestibulum eget elit eu ipsum euismod pharetra vel sed metus. Phasellus quis posuere dui, mattis rhoncus erat. Proin fringilla ex et leo porttitor tempor.</p>
		</div>

		<div id="thing-2" class="thing">
			<h3>Thing 2</h3>
			<p>This is what Nav 2 points to</p>
			<p>Donec odio felis, vehicula sed imperdiet eget, luctus eget enim. Cras dictum porttitor scelerisque. Nunc ultricies auctor consequat. Vivamus ac tincidunt metus. Aenean et lacus ac dolor cursus efficitur. Suspendisse facilisis erat eros, et tincidunt est dapibus nec. Nulla id arcu enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta tincidunt lorem et blandit. Donec at pellentesque tortor, ut sagittis lacus. Cras eget sapien luctus, auctor justo nec, accumsan purus. Maecenas ut sapien in tortor sodales commodo quis nec neque. Aliquam facilisis maximus justo, vel dapibus orci lacinia eget. Mauris imperdiet libero vitae felis hendrerit, sit amet fringilla mauris malesuada.</p>
		</div>

		<div id="thing-3" class="thing">
			<h3>Thing 3</h3>
			<p>This is what Nav 3 points to</p>
			<p>Aenean ac nisi nec sapien scelerisque vulputate. Sed gravida aliquet ligula eu pharetra. Curabitur dictum purus risus. Nulla dolor nunc, molestie vitae enim eget, feugiat pellentesque odio. Aenean feugiat, ligula eu ornare pulvinar, neque nisl tempus tortor, at pellentesque ex sapien sed ex. Cras egestas neque turpis. Suspendisse facilisis mauris a tincidunt varius. Aenean vel ornare augue. Nam ultrices, purus ac vestibulum euismod, lorem ante laoreet odio, eget tristique mi ligula ut nibh. Mauris mollis dolor et nibh fringilla consequat. Quisque tincidunt massa id viverra sagittis.</p>
		</div>

		<div id="thing-4" class="thing">
			<h3>Thing 4</h3>
			<p>This is what Nav 4 points to</p>
			<p>Vivamus et enim commodo, rutrum urna non, pharetra diam. Proin eget tincidunt sem, nec semper risus. Nunc semper vestibulum eros, ut dignissim enim. Proin at lacus sapien. Integer ac sem non mauris sollicitudin fringilla. Suspendisse volutpat auctor sollicitudin. Maecenas ut gravida diam. Ut a lacinia elit, vitae suscipit neque. Vestibulum leo dui, interdum ut consequat vel, pharetra vitae nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vitae mi et dolor consectetur laoreet suscipit rhoncus mi. Proin feugiat tristique arcu, id tincidunt libero cursus eleifend. Aliquam ac elit eu augue ultrices accumsan eget vel arcu.</p>
		</div>
	</main>

	<footer>
		<ul>
			<li>Footer item 1</li>
			<li>Footer item 2</li>
			<li>Footer item 3</li>
			<li>Footer item 4</li>
		</ul>
	</footer>

	<body>
		<script src="public/js/scripts.js"></script>
	</body>
</html>